:root {
    --background-blue-green: #008787;
    --background-blue: #025892;
    --background-gray: #E3E3E3;
    --background-red: #FF3535;
}


/* Style pour le conteneur principal */
.conteneur {
    position: absolute;  /* Position absolue par rapport au premier élément parent positionné (non statique) */
    top: 20%;  /* Distance par rapport au haut de la page (20% de la hauteur de la fenêtre) */
    left: 50%;  /* Positionné au centre horizontalement (50% de la largeur de la fenêtre) */
    transform: translateX(-50%);  /* Décalage horizontal de -50% de la propre largeur du conteneur pour le recentrer correctement */
    width: 200px;  /* Largeur fixe du conteneur */
    height: 200px;  /* Hauteur fixe du conteneur */
    display: table-row;
    align-items: center;
}

.texte {
    text-align: center;
    font-family: 'Kanit', sans-serif; /* Remplacez 'VotrePolice' par le nom de la police de votre choix */
    /* Vous pouvez également spécifier plusieurs polices de secours après la virgule, par exemple : font-family: 'VotrePolice', Arial, sans-serif; */
    font-size: 18px; /* Ajustez la taille de la police selon votre préférence */
    font-weight: normal; /* Vous pouvez spécifier 'bold' pour une police en gras */
        /* Ajoutez d'autres propriétés de typographie au besoin */
    }

/* Style pour les images à l'intérieur du conteneur */
.conteneur img {
    width: 200px;  /* Largeur fixe de l'image égale à la largeur du conteneur */
    height: 200px;  /* Hauteur fixe de l'image égale à la hauteur du conteneur */
}

/* Style pour le petit cercle rouge */
.petit-cercle {
    position: absolute;  /* Position absolue par rapport au premier élément parent positionné (non statique) */
    width: 35px;  /* Largeur fixe du cercle rouge */
    height: 35px;  /* Hauteur fixe du cercle rouge */
    background: red;  /* Couleur de fond rouge */
    border-radius: 50%;  /* Bordure arrondie pour créer un cercle */
    top: 30px;  /* Distance par rapport au haut du conteneur */
    right: 10px;  /* Distance par rapport à la droite du conteneur */
}

.textes {
    background-color: #006C92;
    color: #FFFFFF;
    text-align: center;
    border-radius: 50px;
    font-family: 'Kanit', sans-serif; /* Remplacez 'VotrePolice' par le nom de la police de votre choix */
    /* Vous pouvez également spécifier plusieurs polices de secours après la virgule, par exemple : font-family: 'VotrePolice', Arial, sans-serif; */
    font-size: 18px; /* Ajustez la taille de la police selon votre préférence */
    font-weight: normal; /* Vous pouvez spécifier 'bold' pour une police en gras */
        /* Ajoutez d'autres propriétés de typographie au besoin */
    
}

.textes h5 {
    font-size: 25px; /* Vous pouvez ajuster la valeur de font-size selon votre préférence */
}




