:root {
    --background-blue-green: #008787;
    --background-blue: #025892;
    --background-gray: #E3E3E3;
    --background-red: #FF3535;
}


.conteneur {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 200px;
}

.conteneur img {
    width: 200px;
    height: 200px;
}

.petit-cercle {
    position: absolute; 
    width: 35px;
    height: 35px;
    background: red; 
    border-radius: 50%;
    top: 30px;
    right: 10px;
}


