/* défini les couleurs */
:root{
    --background-blue-green:#008787;
    --background-blue:#025892;
    --background-gray:#E3E3E3;
    --background-red:#FF3535;
}

.content-container {
    margin-top: 100px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre les éléments horizontalement dans le conteneur intérieur */
}

.contact{
    padding: 20px;
    border-radius: 10px;
    justify-content: space-between; /* Espacez les éléments horizontalement */
    align-items: center; /* Centre les éléments verticalement */
}

/* Ajoutez une marge inférieure à chaque élément utilisateur dans la section de contact */
.contact div {
    margin-bottom: 10px;
    background-color: var(--background-gray);
    border-radius: 10px;
    padding: 20px;
    color:var(--background-blue);
}

/* Style pour la classe align_items */
.align_items {
    display: flex; /* Utilisez flexbox pour aligner les éléments horizontalement */
    justify-content: space-around; /* Espacez les éléments horizontalement */
    align-items: center; /* Centre les éléments verticalement */
    flex-direction: row; /* Dispose les éléments horizontalement */
}

/* Apparaitre le rectangle*/
.rectangle {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 1px !important; /* Ajustez la hauteur selon vos besoins */
    width: 80px !important; /* Ajustez la largeur selon vos besoins */
    background-color: #ccbcbc !important;
    border-radius: 20px !important; /* Ajustez le border-radius pour rendre les coins du rectangle identiques à ceux du cercle */
}

/* Apparaitre le rond */
.rond {
    display: flex !important;
    border-radius: 50% !important; /* Utilisez 50% pour créer une forme plus ronde */
    align-items: flex-end !important; /* Ajustez si nécessaire */
    justify-content: center !important; /* Ajustez si nécessaire */
    background-color: var(--background-red) !important;
    width: 1px !important; /* Ajustez la largeur selon vos besoins */
    height: 1px !important; /* Ajustez la hauteur selon vos besoins */
}

/* Ajoutez un style pour le rond lorsqu'il est sélectionné */
.rond.selected-rond {
    background-color: var(--background-blue)!important; /* Remplacez par la couleur bleue que vous souhaitez */
    align-items: flex-start !important;/* mettre à gauche */
}

/* Style pour l'image à l'intérieur de la classe align_items */
.align_items img {
    margin-left: 10px; /* Ajoute une marge à gauche de l'image pour l'espace */
}

/* Hidedetail - cache par défaut */
/* .hidedetail {
    display: none;
    transition: all 0.3s ease-in-out;
} */

/* Affiche hidedetail lorsqu'il est sélectionné */
.selected-rond ~ .hidedetail {
    display: block;
    height: 150px;
}