/* défini les couleurs */
:root{
    --background-blue-green:#008787;
    --background-blue:#025892;
    --background-gray:#E3E3E3;
    --background-red:#FF3535;
}

.content-container {
    margin-top: 100px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre les éléments horizontalement dans le conteneur intérieur */
}

.contact{
    padding: 20px;
    border-radius: 10px;
    justify-content: space-between; /* Espacez les éléments horizontalement */
    align-items: center; /* Centre les éléments verticalement */
}

/* Ajoutez une marge inférieure à chaque élément utilisateur dans la section de contact */
.contact div {
    margin-bottom: 10px;
    background-color: var(--background-gray);
    border-radius: 10px;
    padding: 20px;
    color:var(--background-blue);
}

/* Style pour la classe align_items */
.align_items {
    display: flex; /* Utilisez flexbox pour aligner les éléments horizontalement */
    justify-content: space-around; /* Espacez les éléments horizontalement */
    align-items: center; /* Centre les éléments verticalement */
    flex-direction: row; /* Dispose les éléments horizontalement */
}

/* .slideOne */
.slideOne {
    width: 50px;
    height: 10px;
    background: #333;
    margin: 20px auto;
    position: relative;
    border-radius: 50px;
    cursor: pointer;
}

.slideOne label {
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: -3px;
    left: -3px;
    cursor: pointer;
    background: #fcfff4;
    background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 50px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease;
}

.slideOne input[type=checkbox] {
    visibility: hidden;
}

/* Ajout de styles pour le curseur lorsqu'il est sélectionné */
.slideOneChecked label {
    left: 37px;
    background: var(--background-blue);
}

/* Hidedetail - cache par défaut */
.hidedetail {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
}

/* Affiche les détails lorsque la classe 'show' est présente */
.hidedetail.show {
    opacity: 1;
    height: auto;
}

/* Style pour l'image à l'intérieur de la classe align_items */
.align_items img {
    margin-left: 10px;
}

/* Ajout d'un style pour le curseur lorsqu'il n'est pas sélectionné */
.slideOne:not(.slideOneChecked) label {
    background: var(--background-red);
}

/* Style pour l'image à l'intérieur de la classe align_items */
.align_items img {
    margin-left: 10px; /* Ajoute une marge à gauche de l'image pour l'espace */
}