
:root{
    --background-blue-green:#008787;
    --background-blue:#025892;
    --background-gray:#E3E3E3;
    --background-red:#FF3535;
}

div {
    display: 'flex';
    align-items: 'center';
}

style {
    margin-left: 10px ;
     cursor: 'pointer';
}

/* Connexion.css */

.image-container {
    background-color:var(--background-blue); /* Gris clair, vous pouvez ajuster la couleur selon vos préférences */
    padding: 10px; /* Ajoutez une marge intérieure si nécessaire */
    display: inline-block; /* Assure que la taille de l'élément s'ajuste à son contenu */
  }
  

 