:root {
    --background-blue-green: #008787;
    --background-blue: #025892;
    --background-gray: #E3E3E3;
    --background-red: #FF3535;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* Ajustez la hauteur selon vos besoins */
}

.container img.logonotimail {
    height: 30%;
}

label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    border-radius: 10px;
}


.cadenas,
.iconbas {
    height: 30px;
    background: var(--background-blue);
    border-radius: 30px;
    position: absolute;
    right: 5px;
}

.iconbas {
    background: none !important;
}

select,
input {
    width: 60vw;
    height: 100%;
    border: none;
    border-radius: 50px;
    padding: 10px 5px;
    background-color: rgba(0, 0, 0, 0.452);
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
}

label span,
.separator {
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: black;
    right: 20%;
}

select {
    -webkit-appearance: none;
}


@media (min-width: 768px) {

    select,
    input {
        width: 15vw;
    }


    label span,
    .separator {
        right: 20% !important;
    }


}