/* Défini les couleurs par défault */
:root{
    --background-blue-green:#008787;
    --background-blue:#025892;
    --background-gray:#E3E3E3;
    --background-red:#FF3535;
}

/* Définir la position principal des élements et de la couleur du font */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-gray);
    width: 100%;
    position: fixed;
    height: 80px;
    padding: 20px;
    top: 0;
}

/* centrer les deux elements*/
#left-content,
#right-content {
    display: flex;
    align-items: center;
}

/* Met la marge à gauche */
#left-content {
    margin-left: 5vw;
}

/* Mettre en colonne le contenu de droite en colonne et la marge à droite */
#right-content {
    flex-direction: column;
    text-align: center;
    margin-right: 50px;
}

/* Défini la taille maximun de l'image */
nav img {
    width: 40%;
}

/* determine la couleur de font du bouton déconnexion*/
button {
    margin-top: 5px; 
    background-color: var(--background-red);
    color: var(--background-gray); /* Couleur du texte */
    border: none; /* Ajoutez cette ligne pour supprimer la bordure par défaut du bouton */
    border-radius: 10px;
    padding: 5px 10px; /* Ajoutez cette ligne pour ajuster le rembourrage du bouton selon vos préférences */
}

/* Mettre la couleur de l'écriture de gris */
button a{
    color:var(--background-gray);
}